<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="navbar-logo">Plataforma de Ideias</a>
  </div>

  <div class="navbar-right">
    {{#if user}}
      <span>Olá, {{user.nome}}</span>
      <a href="/profile" class="profile-btn">Meu Perfil</a>
      <a href="/logout" class="logout-btn">Sair</a>
    {{else}}
      <a href="/login">Entrar</a>
      <a href="/cadastro" class="register-btn">Cadastrar</a>
    {{/if}}
  </div>
</nav>

<script src="/partials/navbar/navbar.js" defer></script>
